@import "root.css";

.aboutme-container {
    margin-top: 5em;
    height: 600px;
    width: 100%;
    background-color: var(--bg-over);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    font-size: 1em;
}

.sub-quote {
    margin-top: 2em;
    color: var(--primary-color);
}


/* HORIZONTAL IPAD VIEW */

@media screen and (min-width: 1024px) {
    .aboutme-container {
        font-size: 1.2em;
        padding: 0 20%;
        height: 500px;
    }
}

/* 720p LAPTOP VIEW */

@media screen and (min-width: 1280px) {
}

/* DESKTOP VIEW */

@media screen and (min-width: 1920px) {
    .aboutme-container {
        font-size: 1.2em;
        padding: 0 20%;
        height: 400px;
    }
}




