@import "EditMe.css";

.App {
  text-align: center;
  font-family: var(--font);
}

.App-header {
  background-color: var(--bg-color);
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.particle-js {
  width: 80%;
  height: 80%;
  position: absolute;
  background-size: cover;
}