/* If you wish to customise the colours, please only edit this specific CSS, it is interconnected with the rest */

:root {
    /* The main background colour of the page */
    --bg-color: #201f25;
    --bg-over: #33313a;
    /* The primary highlight colour of the page, such as profile ring, icons and highlight text */
    --primary-color: #38cdee;
    --secondary-color: #4edcff;
    --font: Consolas, "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

/* 

Portfolio-Bootstrap-React by Joshua Daveston Ahimaz 

My Portfolio:
https://JAhimaz.github.io

My Github: 
https://Github.com/JAhimaz


*/