@import "EditMe.css";


/* Mobile View */

.nav {
    background-color: var(--bg-color);
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.2);
}

.nav-items {
    color: var(--primary-color) !important;
}

.nav-brand {
    color: var(--primary-color) !important;
}

.nav-resume {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.nav-items, .nav-brand, .nav-resume {
    margin: 15px 15px;
}

/* Desktop View */

/* Hover */

.nav-items:hover {
    color: var(--primary-color) !important;
    text-shadow: 0px 2px 0px var(--secondary-color);
}