
:root {
    /* The main background colour of the page */
    --bg-color: none;
    --bg-over: none;
    /* The primary highlight colour of the page, such as profile ring, icons and highlight text */
    --primary-color: none;
    --secondary-color: none;
    --font: none;
}

/* 

Portfolio-Bootstrap-React by Joshua Daveston Ahimaz 

My Portfolio:
https://JAhimaz.github.io

My Github: 
https://Github.com/JAhimaz


*/